<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wnmp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wnmp.Properties.Settings>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateFrequency" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LastCheckForUpdate" serializeAs="String">
                <value>2012-12-01</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeInsteadOfClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimizedToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartNginxOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMariaDBOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartPHPOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PHPVersion" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="PHPPort" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="PHPProcessCount" serializeAs="String">
                <value>2</value>
            </setting>
        </Wnmp.Properties.Settings>
    </userSettings>
</configuration>