# binary files
*.lib
*.dll
*.exe
/conf/*.pem

# PHP
/php/*
!/php/phpbins
!/php/logs
!/php/logs/sys.log
!/php/php.ini

# MariaDB
/mariadb/lib
/mariadb/include

# phpMyAdmin
/html/phpmyadmin/*
!/html/phpmyadmin/config.inc.php

# misc
!/bin
!/logs
changelog.txt
Wnmp.ini